<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>
<h2 align="center"><u>Συχνές Ερωτήσεις</u></h2>
<ol>
<h3><li>Πώς μπορώ να κάνω εγγραφή ; </li></h3>
	<br/>
	Πατάτε το κουμπί Login και εμφανίζεται το πλαίσιο εισόδου και πατάτε Register και οδηγείστε στη φόρμα εισαγωγής στοιχείων.
	<br/><br/>
<h3><li>Πώς χρησιμοποιούνται τα προσωπικά μου στοιχεία ; </li></h3>
	<br/>
	Όλες οι πληροφορίες βρίσκονται στο Πολιτική Χρήσης.
	<br/><br/>
<h3><li>Πώς γίνεται η επιβεβαίωση του λογαριασμού μου ;</li></h3>
<br/>
	Θα ζητηθεί μία μόνο φορά επιβεβαίωση μέσω τηλεφώνου στην πρώτη σας παραγγελία.
<br/><br/>
<h3><li>Πώς μπορώ να κάνω παραγγελία ;</li></h3>
<br/>
	Κατεβαίνετε στην κεντρική σελίδα στο "Φτιάξε την κρέπα σου" και διαλέγετε τα υλικά που θέλετε.
	Αφού τα επιλέξετε πατάτε το "καταχώρηση κρέπας" 
	( Αν αλλάξατε γνώμη πατάτε ακύρωση κρέπας ).Αφού τελειώσετε με την παραγγελία συμπληρώνετε τα στοιχεία σας 
	( Αν είστε ήδη εγεγγραμένος και συνδεδεμένος θα συμπληρωθούν αυτόματα)
	και πατάτε αποστολή παραγγελίας.
<br/><br/>
<h3><li>Τα υλικά που χρησιμοποιούνται είναι φρέσκα ή κατεψυγμένα ; </li></h3>
	<br/>
	Τα υλικά που χρησιμοποιούμε είναι φρέσκα εκτός από τα θαλασσινά είδη ( καλαμαράκια ).
<br/><br/>
<h3><li>Ποιά είναι η ελάχιστη παραγγελία ;</li></h3>
<br/>
	Η ελάχιστη παραγγελία είναι 3,5 €.
	<br/><br/>
<h3><li>Πόση ώρα κάνει να φτάσει η παραγγελία ;</li></h3>
	<br/>
	Σε ώρες αιχμής κυμαίνεται από 20 έως 30 λεπτά.
	<br/><br/>
<h3><li>Σε πόσες περιοχές των Σερρών παραδίδεται παραγγελίες ; </li></h3>
	<br/>
	Παραδίδουμε μόνο μέσα στην πόλη των Σερρών.
	<br/><br/>
</ol> 









</body>
</html>