<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>
<pre>ΟΡΟΙ ΧΡΗΣΗΣ

 

1.     

Ευχαριστούμε που επιλέξατε την ιστοσελίδα μας. Για να μπορέσετε να κάνετε ηλεκτρονική παραγγελία πρέπει να εγγραφείτε ως μέλος.

Προς διασφάλιση σας, σας ενημερώνουμε ότι τηρούμε σύμφωνα με τον νόμο αρχείο των προσωπικών σας δεδομένων μη ευαίσθητου χαρακτήρα, όπως π.χ. ονοματεπώνυμο, πλήρη διεύθυνση με Τ.Κ., στοιχεία επικοινωνίας (τηλέφωνα, e-mail), κλπ. Εφόσον πρόκειται για παραγγελία που θα παραδοθεί σε χώρο εργασίας, καταχωρούμε επιπλέον στοιχεία, όπως π.χ. επωνυμία εταιρείας, ΑΦΜ, επάγγελμα, Δ.Ο.Υ., πλήρης διεύθυνση με Τ.Κ., στοιχεία επικοινωνίας (τηλέφωνο, F??ΑX) κλπ.

Ο Ν. 2472/1997, όπως αυτός τροποποιήθηκε από τον Ν. 3471/2006, ορίζει ότι για την τήρηση αρχείου, το οποίο περιλαμβάνει προσωπικά δεδομένα, απαιτείται η ρητή συγκατάθεση του υποκειμένου. Για τον λόγο αυτό, εάν δεν συμφωνείτε με την καταχώρηση των παραπάνω δεδομένων σας για τους σκοπούς, που αναφέρονται στην παρούσα ιστοσελίδα, παρακαλείστε να απέχετε από την χρήση της.. Σε κάθε περίπτωση η περαιτέρω χρήση από εσάς της παρούσας ιστοσελίδας για την υποβολή ηλεκτρονικής παραγγελίας ή για την συμμετοχή σας σε διαγωνισμούς, κληρώσεις, ή άλλες εκδηλώσεις ισοδυναμεί με την ρητή συναίνεσή σας για την καταχώρηση των παραπάνω δεδομένων σας στο τηρούμενο αρχείο και ρητή και ανεπιφύλακτη αποδοχή εκ μέρους σας των όρων χρήσης και του περιεχομένου της παρούσας ιστοσελίδας.

Εγγυόμεθα ότι δεν γίνεται αυτόματη ανάληψη στοιχείων χρηστών και επισκεπτών των περιοχών του δικτυακού μας τόπου, στις οποίες υπάρχει ελεύθερη πρόσβαση.

Βεβαιωθείτε ότι συμφωνείτε με τους παρακάτω όρους και προϋποθέσεις, διότι η περαιτέρω χρήση και περιήγησή σας στην ιστοσελίδα συνεπάγεται την ρητή και ανεπιφύλακτη αποδοχή τους εκ μέρους σας.

 

2.     Ρητή αποδοχή και ειδική συναίνεση του χρήστη της ιστοσελίδας με τους παρακάτω όρους:

·        Διατηρούμε το δικαίωμα μονομερώς να τροποποιούμε ή να ανανεώνουμε τους όρους της παρούσας. Τυχόν μεταβολές στην πολιτική μας σε ότι αφορά την προστασία των προσωπικών σας δεδομένων σύμφωνα με τον νόμο ή τους όρους χρήσης, θα καταγράφονται στην παρούσα ιστοσελίδα. Παρακαλείσθε να παρακολουθείτε τις μεταβολές αυτές σε κάθε χρήση της ιστοσελίδας από εσάς.

·        Οι πληροφορίες παροχής υπηρεσιών, που παρέχονται στην παρούσα ιστοσελίδα είναι ακριβείς με την επιφύλαξη για τυχόν τεχνικά ή τυπογραφικά λάθη που δεν μπορούν να προβλεφθούν ή έχουν προκύψει ακούσια ή από διακοπές λειτουργίας της ιστοσελίδας ή λόγω ανωτέρας βίας.

·        Σε καμία περίπτωση δεν εγγυόμεθα την αδιάκοπη και χωρίς σφάλματα λειτουργία της ιστοσελίδας.

·        Δεν ευθυνόμεθα έναντι των πελατών/χρηστών για ζημιές που τυχόν προκύψουν από την διακοπή πρόσβασης στην ιστοσελίδα για τεχνικούς λόγους ή από προβλήματα και δυσχέρειες, που μπορεί να επηρεάσουν ή να εμποδίσουν ή αναστείλουν την λειτουργία της και την υποβολή ή εκτέλεση ηλεκτρονικών παραγγελιών.

·        Επιφυλασσόμεθα ως προς τον χρόνο παράδοσης των παραγγελιών στις περιπτώσεις ανωτέρας βίας.

·        Οι φωτογραφίες των προϊόντων είναι ενδεικτικές και δεν απεικονίζουν πιστά το τελικό προϊόν.

·        Σε περίπτωση τυχόν μη διαθεσιμότητας ή έλλειψης κάποιων προϊόντων, θα κληθείτε από εκπρόσωπο του Δικτύου Καταστημάτων La Dolce Creperie για την τροποποίηση της παραγγελίας σας. Διόρθωση ή ακύρωση της παραγγελίας σας, δεν μπορείτε να κάνετε ηλεκτρονικά. Θα πρέπει να επικοινωνήσετε με το αρμόδιο τμήμα ακυρώσεων  διορθώσεων στα τηλέφωνα 210 811 20 00 και 18 111.

 

3.     Δικαιώματα πνευματικής ιδιοκτησίας

Οι εικόνες, λογότυπα, γραφικά, φωτογραφίες, κείμενα κλπ είναι πνευματική ιδιοκτησία μας και προστατεύονται κατά τις σχετικές διατάξεις του ελληνικού δικαίου και των διεθνών συμβάσεων. Απαγορεύεται οποιαδήποτε αντιγραφή, αναλογική/ψηφιακή εγγραφή και μηχανική αναπαραγωγή, downloading, μεταποίηση, μεταπώληση, δημιουργία παραγωγής εργασίας ή παραπλάνηση του κοινού σχετικά με τον πραγματικό δικαιούχο και πάροχο του περιεχομένου του δικτυακού τόπου.

 

4.     Ασφάλεια

Σεβόμενοι το απόρρητο των προσωπικών σας δεδομένων, έχουμε λάβει μέτρα για την διασφάλιση και προστασία τους.

·        Οι κωδικοί που χρησιμοποιούνται για την αναγνώρισή σας είναι δύο : ο κωδικός εισόδου (e-mail  ή username) και ο προσωπικός μυστικός κωδικός (password), οι οποίοι κάθε φορά που τους χρησιμοποιείτε σας παρέχουν πρόσβαση με απόλυτη ασφάλεια στα προσωπικά σας στοιχεία.

·        Σας δίνεται η δυνατότητα να μεταβάλλετε τον προσωπικό μυστικό κωδικό ασφαλείας (password) όσο συχνά επιθυμείτε. Μόνον εσείς έχετε πρόσβαση στα στοιχεία σας και είστε αποκλειστικά υπεύθυνοι για την διατήρηση της μυστικότητας και απόκρυψης του προσωπικού μυστικού κωδικού ασφαλείας από τρίτα πρόσωπα.

·        Σε περίπτωση που ξεχάσετε τον προσωπικό μυστικό κωδικό (password), μπορείτε να τον ανακτήσετε επιλέγοντας «Υπενθύμιση password», εισάγοντας τη διεύθυνση του ηλεκτρονικού σας ταχυδρομείου με την οποία έχετε εγγραφεί ως μέλος.

·        Οι διακομιστές (servers), στους οποίους αποθηκεύονται τα στοιχεία των συναλλαγών σας και τα προσωπικά δεδομένα σας φυλάσσονται σε ασφαλείς εγκαταστάσεις.

·        Ο δικτυακός τόπος διέπεται από μέτρα ασφαλείας, τόσο για την μεταφορά των δεδομένων, όσο και για την προστασία από απώλεια, κακή χρήση ή αλλοίωση αυτών.

·        Μόνο εξουσιοδοτημένα από εμάς άτομα έχουν πρόσβαση στις πληροφορίες των συναλλαγών σας, χρησιμοποιώντας απόρρητους κωδικούς  και μόνον όποτε αυτό είναι αναγκαίο, π.χ. για την διεκπεραίωση των παραγγελιών σας ή άλλων αιτημάτων σας.

·        Η τήρηση του απορρήτου των συναλλαγών σας θεωρείται αυτονόητη.

·        Τα στοιχεία των προσωπικών δεδομένων σας και των συναλλαγών σας δεν αποκαλύπτονται σε τρίτους, εκτός εάν έχουμε ειδική εξουσιοδότηση από εσάς, ή επιβάλλεται από διατάξεις του νόμου, δικαστική απόφαση ή απόφαση άλλης δημόσιας αρχής. 

 

ΠΡΟΣΤΑΣΙΑ ΠΡΟΣΩΠΙΚΩΝ ΔΕΔΟΜΕΝΩΝ

 

Κατά την επίσκεψη σας σε συγκεκριμένες σελίδες του δικτυακού μας τόπου και προκειμένου να εγγραφείτε μέλος, ή να παραγγείλετε προϊόντα και για να διασφαλιστεί η δυνατότητα επικοινωνίας μαζί σας για την παραγγελία σας ή να συμμετάσχετε σε διαγωνισμούς, κληρώσεις και άλλες εκδηλώσεις, θα σας ζητηθούν στοιχεία προσωπικών δεδομένων (π.χ. ονοματεπώνυμο, πλήρης διεύθυνση με Τ.Κ., στοιχεία επικοινωνίας (τηλέφωνα, e-mail), κλπ. Μας παρέχετε τα στοιχεία αυτά οικειοθελώς στο πλαίσιο εγγραφής σας, στην οποία προβαίνετε έχοντας ήδη λάβει γνώση του και αποδεχθεί ανεπιφύλακτα το περιεχόμενο της παρούσας ιστοσελίδας και τους όρους χρήσης αυτής και με την ρητή συγκατάθεσή σας ότι τα στοιχεία αυτά επιτρέπεται να αποτελέσουν στο μέλλον, οποτεδήποτε παρίσταται ανάγκη κατά την κρίση μας και μέχρις ότου μας γνωστοποιήσετε ότι ανακαλείτε ρητά την παραπάνω συγκατάθεσή σας, αντικείμενο επεξεργασίας δεδομένων προσωπικού χαρακτήρα σύμφωνα με το Ν.2472/1997 όπως αυτός τροποποιήθηκε από το Ν. 3471/2006.

 

ΣΚΟΠΟΙ ΕΠΕΞΕΡΓΑΣΙΑΣ ΤΩΝ ΠΡΟΣΩΠΙΚΩΝ ΔΕΔΟΜΕΝΩΝ

 

Σας ενημερώνουμε ότι ορισμένα από τα προσωπικά στοιχεία σας, που είναι αποθηκευμένα στη βάση δεδομένων μας, ενδέχεται να αποτελέσουν, σύμφωνα με τα προαναφερθέντα, αντικείμενο επεξεργασίας με τους ακόλουθους σκοπούς:

 

·        Για την επικοινωνία μας μαζί σας σε ότι αφορά την παραγγελία σας.

·        Για την επικοινωνία μας μαζί σας σε σχέση με διαγωνισμούς, κληρώσεις και άλλες εκδηλώσεις.

·        Για να σας ενημερώνουμε και να σας αποστέλλουμε προσφορές και ενημερωτικό υλικό σχετικά με τα προϊόντα και υπηρεσίες μας.

·        Για στατιστικούς σκοπούς και έρευνα.

·        Γενικότερα, για την προώθηση και προαγωγή των προϊόντων και υπηρεσιών μας, εφόσον το επιθυμείτε.

 

Τα δεδομένα αυτά δεν εκχωρούνται σε τρίτα μέρη. Ενδέχεται όμως, να ανακοινωθούν σε συνεργάτες για διαφημιστικούς ή στατιστικούς σκοπούς και μόνο για χρήση που θα αφορά προϊόντα ή υπηρεσίες μας.

 

ΔΙΚΑΙΩΜΑ ΠΡΟΣΒΑΣΗΣ ΚΑΙ ΔΙΑΓΡΑΦΗΣ ΠΡΟΣΩΠΙΚΩΝ ΔΕΔΟΜΕΝΩΝ

 

Σύμφωνα με το νόμο και τις διατάξεις των άρθρων 11, 12 & 13 του Ν.. 2472/1997 έχετε το δικαίωμα της πρόσβασης στα προσωπικά δεδομένα, που συλλέγουμε και επεξεργαζόμαστε σύμφωνα με τα ανωτέρω. Επίσης σύμφωνα με τη διάταξη του άρθρου 13 του Ν. 2472/1997 έχετε το δικαίωμα να ζητήσετε διαγραφή των δεδομένων αυτών. Για το σκοπό αυτό μπορείτε να επικοινωνείτε με τον Υπεύθυνο Διαχείρισης Δεδομένων των πελατών του Δικτύου Καταστημάτων La Dolce Creperie (οδός Θρασυβούλου 3, Χαλάνδρι ΤΚ 15233, τηλ. 210- 6856400).

 

ΟΡΟΙ ΟΝ LINE ΠΑΡΑΓΓΕΛΙΑΣ

 

Στις παραγγελίες που υποβάλλονται ηλεκτρονικά ισχύουν όλοι οι όροι παραγγελίας που ισχύουν γενικά κατά τον χρόνο υποβολής της παραγγελίας και ειδικότερα για οn line παραγγελία ισχύουν σήμερα τα ακόλουθα.

 

·        30% έκπτωση για παράδοση στο σπίτι.

·        40% έκπτωση για παράδοση στο χώρο εργασίας.

·        40% έκπτωση για φοιτητές.

·        Λοιπά εκπτωτικά κουπόνια και άλλες προσφορές δεν ισχύουν.

·        Οι παραγγελίες άνω των 30 ευρώ, επιβεβαιώνονται από το αρμόδιο τμήμα του Τηλεφωνικού Κέντρου. Καμία άλλη κλήση επιβεβαίωσης δεν πραγματοποιείται. Όταν αποστείλετε την παραγγελία σας, εμφανίζεται μήνυμα ότι «Η παραγγελία σας έχει καταχωρηθεί με επιτυχία. Σύντομα θα λάβετε email επιβεβαίωσης». Εφόσον λάβετε το επιβεβαιωτικό email, η παραγγελία σας βρίσκεται ήδη σε στάδιο παραγωγής. 

·        Σε περίπτωση τυχόν ελλείψεων προϊόντων, θα κληθείτε τηλεφωνικά από το αρμόδιο τμήμα του Τηλεφωνικού Κέντρου.

·        Αλλαγή ή ακύρωση μετά την αποστολή της παραγγελίας δεν γίνεται δεκτή.

·        Δεν μπορείτε να πληρώσετε με ticket restaurant.

·        Οι προσφορές μπορεί να αλλάξουν ανάλογα με τις εκάστοτε προωθητικές ενέργειες, που εφαρμόζουμε.

·        Εξυπηρετούμε από τις 11:30 π.μ. έως τις 12:30 π.μ. Η παράδοση παραγγελίας που έχει γίνει πριν τις 12:00 μ.μ., πραγματοποιείται έως τις 12:30 μ.μ.

·        Χρονικά προγραμματισμένες παραγγελίες δεν εκτελούνται. Σε περίπτωση υποβολής παραγγελίας μεταξύ 00:31 έως 11:29, αυτή θα προωθηθεί για εκτέλεση με την έναρξη λειτουργίας του Τηλεφωνικού Κέντρου.

·        Έκδοση τιμολογίου μπορεί να πραγματοποιηθεί, επιλέγοντας το πεδίο «Τιμολόγιο».

·        Τα προϊόντα σφολιάτας παραγγέλλονται αποκλειστικά μέσω του Τηλεφωνικού Κέντρου και με κλήση του τηλεφωνικού αριθμού 210 811 20 00 ή στο 18 111.

·        Τυχόν συνοδευτικά της παραγγελίας σας, όπως μαχαιροπήρουνα, παρμεζάνα ή άλλα, θα πρέπει να επιλεγούν από εσάς. Χρήσιμες οδηγίες για τον τρόπο υποβολής της παραγγελίας σας, μπορείτε να βρείτε στο menu «Οδηγίες Χρήσης».
</pre>
</body>
</html>