<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<style type="text/css">
table
{
border-collapse:collapse;
}
table, td, th
{
border:1px solid black;
}
</style>



</head>
<body>
<h1 align="center"><u>Team Members</u></h1>

<div align="center">			
<table>
<tr>
  <th><u>Όνομα</u></th>
  <th><u>Επίθετο</u></th>
  <th><u>Ρόλος</u></th>
  <th><u>AEM</u></th>
</tr>
<tr>
  <td>Νίκος</td>
  <td>Βασιλειάδης</td>
  <td>Team Leader</td>
  <td>2005</td>
</tr>
<tr>
  <td>Γιάννης</td>
  <td>Πετρίδης</td>
  <td>System Administrator/Tester</td>
  <td>2207</td>
</tr>
<tr>
  <td>Δημήτρης</td>
  <td>Λίβανος</td>
  <td>Developer/SQL Expert</td>
  <td>2396</td>
</tr>
<tr>
  <td>Δέσποινα</td>
  <td>Καστάνη</td>
  <td>Developer</td>
  <td>2486</td>
</tr>
<tr>
  <td>Αγαπητός</td>
  <td>Κιάτος</td>
  <td>Developer</td>
  <td>2218</td>
</tr>
<tr>
  <td>Ελένη</td>
  <td>Αηδονίδου</td>
  <td>Developer</td>
  <td>2025</td>
</tr>
<tr>
  <td>Γιάννης</td>
  <td>Μπάντας</td>
  <td>Tester</td>
  <td>2477</td>
</tr>
<tr>
  <td>Κώστας</td>
  <td>Κώστογλου</td>
  <td>Tester</td>
  <td>1333</td>
</tr>
<tr>
  <td>Αντωνης</td>
  <td>Μπατζιος</td>
  <td>Tester</td>
  <td>1980</td>
</tr>
</table>
</div>
<h4 align="center"><u>Επιβλέπων Καθηγητής : Δρ. Απόστολος Γεωργιάδης</u></h4>
</body>
</html>