/*---- general modification ----*/
html {
	background: url(../img/abg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	font-size:16px;
}

div{
	background: #e3e3e3;
	border: 1px solid #CFCFCF;
	position: absolute;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	_height: 100%; /* IE FIX */	
}

h2 {
	padding: 15px 25px 15px 35px;
	margin-top: 30px;
	font-size: 45px;
	background: #BFBFBF;
	color: #2F2F2F;
	border: 1px solid #9F9F9F;
	text-indent: -10px;
	position: relative;
	left: -30px;
	width:100%;
}

h3{
	color: #9F9F9F;
	text-align:left;
	font-size: 30px;
}
	
label {
	font-size: 24px;
	font-family: "Century Gothic"; 
}

h4 {
	color: #5F5F5F;
	font-size:x-large;
}

a{	
	padding-left: 40px;
	padding-right: 40px;
	color: #9F9F9F;
}

/*---- end of general modification ----*/

/*---- login ----*/
div#login{
	margin-left:30%;
	margin-top: 23%;
	min-height: 330px;
	width: 40%;
}

input {
	width: 40%;
	height: 30px;
	position: relative;
	top: -4px;
	font-size: 20px;
	padding: 0 .3em;
	color: #555555;
}
/*---- end of login ----*/

/*---- back office ----*/
div#user{
	margin-left: 5%;
	margin-top: 20%;
	width: 25%;
}

div#materials{
	margin-left: 35%;
	margin-top: 20%;
	width: 25%;	
}

div#statistics{
	margin-left: 65%;
	margin-top: 20%;
	width: 25%;
}

h2#user, h2#materials, h2#statistics{
	font-size: 25px;
	height: 35px;
}

img{
	width:60%;
	height:60%;
}
/* end of back office */


/*---- user management ----*/
div#delete{
	margin-left: 7%;
	margin-top: 63%;
	width: 40%;
	min-height:100px;
}

div#register{
	margin-left: 7%;
	margin-top: 5%;
	width: 40%;
}

div#edit{
	margin-left: 53%;
	margin-top: 5%;
	width: 40%;
}

h2#delete, h2#register, h2#edit{
	font-size: 25px;
	margin-left: -10px;
	width: 100%;
	height: 35px;
}

#link{
	float:none;
	left:40%;
	margin-top: 87%;
	min-height:10%;
}
/*end of user management */

/*---- statistics -----*/
div#customer-class{
	margin-left: 68%;
	margin-top: 0%;
	min-height: 100px;
	_height: 100px;	
	width: 25%;
	float:none;
}

div#orders-class{
	margin-left: 8%;
	margin-top: 0%;
	min-height: 100px;
	_height: 100px;	
	width: 25%;
	float:none;
}

div#details-class{
	margin-left: 15%;
	margin-top: 25%;
	width: 70%;
}

div#money-class{
	margin-left: 38%;
	margin-top: 0%;
	min-height: 100px;
	_height: 100px;	
	width: 25%;
	float:none;
}

#tlink{
	float:none;
	margin-left:55%;
	margin-top: 0%;
	min-height:10%;
	width:40%;
}

h2#details-class, h2#orders-class, h2#customer-class , h2#money-class{
	font-size: 25px;
	margin-left: -10px;
	width: 100%;
	height: 35px;
}

h2#title{
	width:50%;
}
/*end of statistics */

/*---- order management ----*/
div#neworders{
	margin-left: 5%;
	margin-top: 5%;
	width: 45%;	
}

div#ready{
	margin-left: 57%;
	margin-top: 5%;
	width: 35%;		
}

h2#neworders , h2#ready{
	font-size: 25px;
	margin-left: -10px;
	width: 100%;
	height: 35px;	
}

table{	
	border-collapse: collapse;
	font-size:14px;
}

td#withline, td#head, th#head{
 border-top: 1px solid #000;
 border-bottom: 1px solid #000;
}

td#head{
	font-size:22px;
	font-weight:bold;
}
/*---- end of order management ----*/