html {
	background: url(../img/bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;	
	font-size:20px;
	color:#FE9;
	font-weight:bold;
}

div{
	border: 1px solid #FFFFFF;
	background: url(../img/opacity.png);
	position: absolute;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	_height: 100%; /* IE FIX */	
}


/*---- user information ---*/
div#info{
	margin-left: 10%;
	margin-top: 2%;
	width: 25%;
}

h2#info{
	font-size: 25px;
	margin-left: -10px;
	width: 100%;
	height: 35px;	
}
/*---- end of user information ---*/


/*---- orders information ---*/
div#orders{
	margin-left: 40%;
	margin-top: 2%;
	width: 50%;	
}

h2#orders{
	font-size: 25px;
	margin-left: -10px;
	width: 100%;
	height: 35px;	
}
/*---- end of user information ---*/

h2 {
	padding: 15px 25px 15px 35px;
	margin-top: 30px;
	font-size: 45px;
	background: #BFBFBF;
	color: #2F2F2F;
	border: 1px solid #9F9F9F;
	text-indent: -10px;
	width: 676px;
	height: 73px;
	position: relative;
	left: -23px;
}

h3#uid{
	text-decoration: none;
	font-size: 20pt;
	color:#FE9;
	text-shadow: 1px 1px 2px #441100;
	background-color:transparent;
	text-align:left;	
	}
	
a{	
	padding-left: 40px;
	padding-right: 40px;
	text-shadow: 1px 1px 2px #FE9;
	color: #300;
}