table,td,th,tr{
	margin-left:auto;
    margin-right:auto;
	background: transparent;
	border-spacing: 0;
	border-color:transparent;
}

#inner th,#con_table th{
	font-size: 20pt;
	border-bottom:double;	
	border-bottom-color: #300;
	text-shadow: 1px 1px 2px black;
}

#inner thead ,#con_table thead,#order_footer, #info th{
	font-size: 15pt;
	color:#f6dd5e;
} 

#inner tbody {
	color: #fe9;  
	text-align: left;
}

#con_table tfoot {
	color: #fe9;  
	text-align: right;
}

#order_footer{
	font-weight: bolder;
	border-color:#300;
	text-align :right;
}

#price_total{
	font-weight: bolder;
	border-color:#300;
	font-size: 14pt;
	text-align :center ;
}

#row_highlight:hover{
	background-color:#fe9;
	color: black;
}


